@font-face {
    font-family: Montserrat;
    src: url("./fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

@font-face {
    font-family: Agora;
    src: url("./fonts/PFAgoraSlabPro/PF Agora Slab Pro Bold.ttf");
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    font-family: "Montserrat";
}

body {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}

hr {
    border: none;
    border-top: 1px solid rgb(200, 200, 200);
    margin: 20px 0;
}

a {
    text-decoration: none;
    color: initial;
}

a:visited {
    color: initial;
}

a:active {
    color: initial;
}

a:hover {
    text-decoration: underline;
}

faded {
    opacity: 0.2;
}

.disable_transitions {
    transition: none !important;
}

.wrapper > div {
    width: 1140px;
    margin: auto;
}

.wrapper.grey {
    background-color: rgb(245, 245, 245);
}

.wrapper.yellow {
    background-color: #fee500;
}

#upper_header {
    padding: 25px 0 20px 0;
    overflow: auto;
}

#upper_header > div {
    float: left;
}

#upper_header > div:nth-child(1) {
    width: 58.5%;
}

#upper_header > div:nth-child(1) > div:first-child {
    font-weight: bold;
    text-transform: uppercase;
}

#upper_header > div:nth-child(1) > div:nth-child(2) {
    color: rgb(75, 75, 75);
    font-size: 11px;
    font-weight: 400;
    line-height: 1.5;
}

#upper_header > div:last-child {
    padding-left:  70px;
}

select {
    width: 200px;
    height: 45px;

    border-radius: 23px;
    text-align: center;
    border: 1px solid #999999;
    appearance: none;
    background: url('./images/arr.svg') 87% / 6% no-repeat;
}

button {
    width: 202px;
    height: 47px;
    padding: 0 20px;

    border: none;
    border-radius: 23px;
    text-align: center;
    color: white;
    background-color: #813f8e;
    cursor: pointer;

    font-size: 14px;
    font-weight: 400;
}

#header {
    padding-bottom: 25px;
    overflow: auto;
}

#header > div:first-child {
    float: left;
    margin-right: 10px;
}

#header > div:last-child {
    float: right;
    padding: 20px 0;
    font-weight: bold;
}

#header > .menu_item {
    display: block;
    float: left;
    margin: 8px 3px;
    padding: 15px 6px;

    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;

    border: none;
    border-radius: 23px;
}

#header > .menu_item.selected {
    background-color: #fee500;
}

#header > .menu_item:hover {
    padding: 14px 5px;
    border: 1px solid rgb(75, 75, 75);
    cursor: pointer;
    text-decoration: none;
}

#header > .menu_item.selected:hover {
    padding: 15px 6px;
    border: none;
}



#footer {
    font-size: 13px;
}

#copyright {
    height: 100px;
    padding: 60px 15px 15px 15px;
    margin-bottom: 50px;
}

#copyright > * {
    float: left;
}

#copyright > img {
    width: 174px;
    filter: grayscale(100%);
}

#copyright > div {
    margin-left: 30px;
    margin-top: 5px;
}

#links {
    height: 300px;
}

#links > div {
    float: left;
    width: 200px;
    margin-right: 260px;
}

#links > div:last-child {
    margin-right: 0;
}

#links > div > a {
    display: block;
    font-size: 18px;
    text-transform: uppercase;
}

#links > div > * {
    margin-bottom: 15px;
}

#links .icons img {
    margin-right: 10px;
    height: 30px;
}



.slider {
    position: relative;
    height: 550px;
    margin-top: 20px !important;

    color: black;
    user-select: none;
}

.slider img {
    -webkit-user-drag: none;
    user-drag: none;
}

.slider > button {
    position: absolute;
    z-index: 10;

    width: 56px;
    height: 56px;
    border-radius: 50%;

    border: 4px solid white;
    background-color: #FEE500;
    opacity: 0;
    transition: opacity 0.5s;
}

.slider > button > svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s;
}

.slider:hover > button {
    opacity: 1;
}

.slider > .slide_left_button {
    top: 215px;
    transform: translate(-50%, -50%);
}

.slider > .slide_right_button {
    top: 215px;
    right: 0;
    transform: translate(50%, -50%);
}

.slider > .slide_left_button:hover > svg {
    transform: translate(-65%, -50%);
}

.slider > .slide_right_button:hover > svg {
    transform: translate(-35%, -50%);
}

.slider > div {
    width: 100%;
    height: 430px;
    overflow: hidden;
    margin-bottom: 10px;
}

.slider .slider_moving_block {
    width: 10000px;
    height: 100%;
    transform: translateX(0px);

    transition: transform 0.3s;
}

.slider .slider_moving_block > div {
    position: relative;
    float: left;
    width: 366.67px;
    height: 100%;
    margin-right: 20px;

    background-color: black;
}

.slider .slide_info {
    height: auto;
    padding: 10px 32px 32px;
}

.slider .slide_title {
    margin-bottom: 16px;

    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
}

.slider .slide_content {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
}

.slider .slide_content.table {
    text-align: left;
}

.slider .slide_content > p {
    line-height: 24px;
    margin: 0;
}

.slider .slide_buttons > * {
    display: block;
    position: absolute;
    bottom: 32px;
    right: 32px;
    left: 32px;

    width: auto;
    height: 48px;
    line-height: 48px;
    border-radius: 0;

    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    background-color: #FFE600;
    color: black;

    transition: background-color 0.3s; 
}

.slider .slide_buttons > *:hover {
    background-color: #E4CE00;
    text-decoration: none;
}

.slider .slide_buttons.double > *:first-child {
    right: 45%;
}

.slider .slide_buttons.double > *:last-child {
    background-color: transparent;
    left: 57%;
}

.slider .slide_buttons.double > *:last-child:hover {
    background-color: #E4CE00;
}

.slider .slider_moving_block > div > img {
    width: 100%;
}

.slider .slider_moving_block > .color_1 {
    background-color: rgb(255, 251, 193);
}

.slider .slider_moving_block > .color_2 {
    background-color: rgb(252, 245, 231);
}

.slider .slider_moving_block > .color_3 {
    background-color: rgb(245, 238, 250);
}

.slider .slider_moving_block > .color_4 {
    background-color: rgb(239, 249, 244);
}

.slider .mini_buttons {
    width: 100%;
    height: 110px;
}

.slider .mini_buttons > div {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    transform: translateX(50%);
}

.slider .mini_buttons > div > div {
    display: inline-block;
    height: 100%;
    transform: translateX(-50%);
}

.slider .mini_buttons .mini_button {
    position: relative;
    float: left;
    width: 110px;
    height: 100%;
    margin: 0 5px;
    padding: 62px 9px 15px;

    background-color: transparent;
    color: black;
    border-radius: 0;
    font-size: 12px;
    font-weight: 500;
    transition: background-color 0.3s, color 0.3s;
}

.slider .mini_buttons .mini_button.selected {
    color: #813F8E;
}

.slider .mini_buttons .mini_button:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.slider .mini_buttons .mini_button > img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    height: 50px;
    margin-top: 12px;
}

.slider .mini_buttons .mini_button > p {
    margin: 0;
}

.slider .slider_badge {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 70px;
    height: 72px;
    padding-top: 17px;

    color: white;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 70 72'%3E%3Cpath fill='%23813F8E' d='M21 0h28l21 21v30L49 72H21L0 51.8V21.1L21 0Z'/%3E%3C/svg%3E");
    line-height: 22px;
}

.slider .slider_badge .big {
    font-size: 28px;
    font-weight: 600;
    margin: 0;

    text-align: center;
}

.slider .slider_badge .small {
    margin: 0;
    font-size: 16px;
    text-align: center;
}



.opening_block {
    padding: 40px;
    overflow: auto;
}

.opening_block > * {
    float: left;
}

.opening_block > .text_block {
    padding: 25px 0 0 25px;
}

.opening_block .header {
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 40px;
    font-family: "Agora";
    text-transform: uppercase;
    line-height: 55px;
}

.opening_block .header span {
    font-family: "Agora";
}

.opening_block .text {
    font-size: 24px;
    line-height: 35px;
}
